
/* All custom colors */
:root {
    --black: #373A40;
    --green: #49afa9;
    --light-green: #e7f4f4;
    --pink: #fa8b8b;
    --light-pink: #feeeee;
    --yellow: #FFE500;
    --light-yellow: #ffdc99;
    --purple: #c1bffa;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Adjust sweet alert */
.swal2-container>.swal2-modal {
    padding: 0;
}
#swal2-html-container{
    margin: 15px 0;
}
.swal2-icon {
    margin: 20px auto 0px auto;
}
.swal2-actions {
    margin-bottom: 20px;
}

/* Voca card */
.voca-action-btn{
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--black);
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 16;
    &:hover {
        background-color: var(--light-pink);
        color: var(--pink);
        cursor: pointer
    }
}
